.historial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableContainer { 
    width: 50%;
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 26px 28px 15px -8px rgba(0,0,0,0.15);
}

.tableHead {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .5rem; 
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 1rem;
    list-style: none;
}

.tableHead li {
    padding: 0 1rem;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
}

hr {
    width: 95%;
    margin: auto;
}

.cotizUl {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px; 
    /* display: flex; */
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

.cotizUl li {
    padding: 0 1rem;
    text-align: center;
}