.historial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableContainer {
    width: 50%;
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 26px 28px 15px -8px rgba(0,0,0,0.15);
}

.tableHead {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    list-style: none;
}

li {
    padding: 0 1rem;
    text-align: center;
    font-size: 1.15rem;
}

.cotizUl {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}