.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font);
    --webkit-appearance: none;
}

.selectContainer select {
    padding: 0.6rem 1rem 0.7rem;
    border-radius: .5rem;
    font-family: var(--text-font);
    border: 0.1rem solid #d1d1d1;
    width: 35rem;
}

.selectContainer label {
    padding: 1rem;
    font-size: 1.25rem;
}

option {
    option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
}

option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

